<launch>
  <!-- <include file="$(find reachy_moveit_config)/launch/demo_gazebo.launch">
    <arg name="urdf_path" value="$(find reachy_description)/reachy_urdf.urdf"/>
    <arg name="rviz_config" value="$(find reachy_gazebo_grasp)/demo1.rviz"/>
  </include> -->
  <include file="$(find colab_reachy_grasp)/launch/apriltag_topics.launch" />

  <include file="$(find colab_reachy_control)/launch/moveit.launch" />
    <!-- <arg name="urdf_path" value="$(find reachy_description)/reachy_urdf.urdf"/> -->
    <!-- <arg name="rviz_config" value="$(find reachy_gazebo_grasp)/demo1.rviz"/> -->


  <!-- We spawn the camera (NOT SPAWNING BUT CREATS THE TF TREE FOR CAMERA)-->
  <include file="$(find colab_reachy_grasp)/launch/spawn_camera.launch" />

  <!-- We spawn the cube  (NOT SPAWNING BUT CREATS THE TF TREE FOR CUBE)-->
  <include file="$(find colab_reachy_grasp)/launch/spawn_cube.launch" />

  <include file="$(find colab_reachy_tf)/launch/tf.launch">
    <!-- <arg name="camera_device" value="/dev/video2" />
    <arg name="use_rviz" value="false" /> -->
  </include>

  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
<remap from="image" to="/tag_detections_image" />
</node>

</launch>
