<launch>
  <!-- <arg name="simulation" default="true"/> -->

  <!-- We launch the core reachy model, rviz config and gazebo world from reachy moveit config (seperate ROS package)-->
  <include file="$(find colab_reachy_control)/launch/moveit.launch">
    <!-- <arg name="urdf_path" value="$(find reachy_moveit_config)/urdf/reachy_moveit.urdf"/>
    <arg name="rviz_config" value="$(find reachy_gazebo_grasp)/demo1.rviz"/> -->
  </include>

  <!-- Spawn objects (camera and cube) -->
  <!-- No need to populate it since the world alreay contains the objects -->
  <!-- <include file="$(find reachy_gazebo_grasp)/launch/spawn_objects.launch">
  </include> -->

  <!-- We spawn the camera -->
  <include file="$(find reachy_gazebo_grasp)/launch/spawn_camera.launch">
  </include>

<!-- We spawn the cube  -->
    <include file="$(find reachy_gazebo_grasp)/launch/spawn_cube.launch">
  </include>


  <include file="$(find colab_reachy_tf)/launch/tf.launch">
    <!-- <group if="$(arg simulation)"> -->
      <!-- <arg name="camera_name" value="/camera/camera" />
      <arg name="camera_frame" default="/camera_link" />
      <arg name="image_topic" value="image_raw" /> -->
    <!-- </group>
    <group unless="$(arg simulation)">
    </group> -->
    <arg name="camera_device" value="/dev/video2" />
    <arg name="use_rviz" value="false" />

  </include> 

    <!-- <node pkg="reachy_gazebo_grasp" type="move_interface.py" name="move_arm_to_cube" respawn="false" output="screen"/> -->
<!-- <node name="move_interface" pkg="reachy_gazebo_grasp" type="move_interface.py"
	respawn="false" output="screen"/> -->

<!-- We start the Apriltag tracking, taking note of the updated camera name and frame arg values. settings and tags have also been updated and are included in this package 
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="/camera1/camera1" />
        <arg name="camera_frame" value="/camera_link" />
        <arg name="image_topic" value="image_raw" />
        <arg name="settings_file" value="$(find reachy_gazebo_grasp)/config/settings.yaml"/>
        <arg name="tags_file" value ="$(find reachy_gazebo_grasp)/config/tags.yaml"/>
  </include>-->

<!-- We start a node that subscribes to the Apriltag pose output and broadcasts the cube TF  -->
<!-- <node name="tag_pose_tf" pkg="reachy_gazebo_grasp" type="tag_pose_sub.py"
	respawn="false" output="screen">
</node> -->



<!-- We start a node that subscribes to the TF broadcast, and initiates a move_group command based on the cube pose  -->
<node name="move_interface" pkg="reachy_gazebo_grasp" type="move_interface.py"
	respawn="false" output="screen">
</node>

</launch>